<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Calley Teams Full Setup Suite" verbose="1">
    <test name="Registration Test">
        <classes>
            <class name="RegistrationTest"/>
        </classes>
    </test>
    <test name="Full Setup Test">
        <classes>
            <class name="FullSetupTest"/>
        </classes>
    </test>
</suite>
